.home-container {
  height: 100%;
  padding: 0 !important;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../../../../assets/img/backgrounds/img1.jpg") no-repeat;
  background-size: cover;
  background-position: center center;

  h1, p {
    font-weight: 600;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
