<section class="container-fluid page-title-container">
  <div class="container text-center">
    <h1>Contact Us</h1>
  </div>
</section>

<section class="container-fluid contact-form-container">
  <div class="container">
    <div class="row">
      <div class="container-fluid col-sm-6">
        <form id="application-form" action="https://yeabeta234.wordpress.com/contact/#contact-form-3" method="post" enctype="multipart/form-data">
          <input type='hidden' name='redirect_to' value='http://localhost:4200/contact?action=contact' />
          <input #position type="hidden" name="position" value="Contact Form" id="position"/>
          <input type="hidden" name="key" id="key" value="ahjohasd12389yahkjyo09ug"/>
          <div class="form-group">
            <label for="contact-first-name">* First Name</label>
            <input type="text" name="firstName" class="form-control" id="contact-first-name" required>
          </div>
          <div class="form-group">
            <label for="contact-last-name">* Last Name</label>
            <input type="text" name="lastName" class="form-control" id="contact-last-name" required>
          </div>
          <div class="form-group">
            <label for="contact-email">* Email</label>
            <input type="email" name="email" class="form-control" id="contact-email" required>
          </div>
          <div class="form-group">
            <label for="contact-comment">* Comment</label>
            <textarea name="comment" class="form-control" id="contact-comment" required aria-describedby="comment" rows="3"></textarea>
          </div>
          <button type="submit" id="contact-submit" class="btn btn-lg btn-outline-primary">Submit</button>
        </form>
      </div>
      <div class="container-fluid col-sm-6">
        <h2 class="text-center">Contact Info</h2>
        <ul class="contact-info-list">
          <li>
            <h5><i class="fa fa-phone"></i>1-800-000-0000</h5>
          </li>
          <li>
            <h5><i class="fa fa-envelope"></i>info@yea.com</h5>
          </li>
          <li>
            <h5><i class="fa fa-map-marker"></i>1000 example ave.</h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
