.page-title-container {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../../../../assets/img/backgrounds/competition.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
