<section class="container-fluid page-title-container">
  <div class="container text-center">
    <h1>Competition</h1>
  </div>
</section>

<section class="container-fluid competition-info-container">
  <div class="container text-center">
    <p>to be added...</p>
  </div>
</section>

<section class="container-fluid competition-schedule-container">
  <div class="container text-center">
    <h3>Competition Schedule</h3>
    <P>(change calendar accordingly)</P>
    <iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showTabs=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23fafafa&amp;src=5lul4gkg72fndc7h90pgn52lj8%40group.calendar.google.com&amp;ctz=America%2FLos_Angeles" frameborder="0" width="800" height="600" marginheight="0" marginwidth="0"></iframe>
  </div>
</section>
