<nav class="navbar fixed-top navbar-expand-md" [ngClass]="{'bg-light-op': navHasBg, 'navbar-light': !navHasBg}">
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">
    <img src="assets/img/yea-logo.png" height="45" width="45"/>
    &nbsp;Youth EUCLID Association
  </a>

  <div id="collapseExample" [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    </ul>
    <ul class="navbar-nav mt-2 mt-lg-0 navs-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item nav-class" ngbDropdown>
        <a class="nav-link" routerLink="/classes" routerLinkActive="active">Classes</a>
        <!-- <i class="fa fa-chevron-down d-none d-md-inline"></i> -->
        <a class="" ngbDropdownToggle><i class="fa fa-chevron-down"></i></a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item scaleInDown" routerLink="/classes/how_to_apply" routerLinkActive="active">How To Apply</button>
          <button class="dropdown-item scaleInDown" routerLink="/classes/contest" routerLinkActive="active">Contest</button>
          <div class="dropdown-bg scaleInDown"></div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/competition" routerLinkActive="active">Competition</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>
</nav>
