<div class="container-fluid footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul>
          <li><a class="nav-link" routerLink="/classes" routerLinkActive="active">Classes</a></li>
          <li><a class="nav-link" routerLink="/classes/how_to_apply" routerLinkActive="active">How To Apply</a></li>
          <li><a class="nav-link" routerLink="/classes/contest" routerLinkActive="active">Contest</a></li>
          <li><a class="nav-link" routerLink="/competition" routerLinkActive="active">Competition</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul>
          <li><a class="nav-link" routerLink="/" routerLinkActive="active">Home</a></li>
          <li><a class="nav-link" routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a></li>
          <li><a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
      </div>
      <div class="col-sm-4 social-links">
        <a target="_blank" href="https://example.facebook.com" class="link-facebook"><i class="fa fa-facebook-square"></i></a>
        <a target="_blank" href="https://example.linkedin.com" class="link-linkedin"><i class="fa fa-linkedin-square"></i></a>
        <a target="_blank" href="https://example.twitter.com" class="link-twitter"><i class="fa fa-twitter-square"></i></a>
      </div>
    </div>
  </div>
</div>
