// Font
$font-stack: "Open Sans", "Roboto", Arial, Helvetica, sans-serif;

// basic colors
$border-color: #dddedb;
$text-color: #393c3d;
// $link-color: #337ab7;
// $theme-color: #2C3E50;
$gray-bg: #fafafa;

// color set
$color-primary: #14cca7;
$color-primary-bg: #e8fdf9;

$color-grey: #9bc1bc;
$color-grey-light: #e6ebe0;
$color-yellow-light: #f4f1bb;
$color-red-light: #ed6a5a;

// $color-success: #5cb85c;
// $color-success-bg: #dcefdc;
// $color-success-bg-light: #edf7ed;
// $color-info: #5bc0de;
// $color-info-bg: #d5eef6;
// $color-info-bg-light: #eaf7fb;
// $color-warning: #f0ad4e;
// $color-warning-bg: #fbe9d0;
// $color-warning-bg-light: #fdf4e8;
// $color-danger: #d9534f;
// $color-danger-bg: #f6d6d5;
// $color-danger-bg-light: #faebea;

// // navigation
// $nav-text-color: rgba(255, 255, 255, 0.7);
// $nav-text-color-hover: rgba(255, 255, 255, 1);
// $nav-bg-color-dropdown-hover: rgba(255, 255, 255, 1);
// $nav-height: 45px;
